body {
  background-color: #282c34;
  color: white;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  

  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-nav {
  display: flex;
  flex-direction: row;
  gap: 2rem;

  align-items: center;
  justify-content: space-around;
}

.App-main {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  min-width: 32vw;
  height: 50vh;

  overflow-y: auto;
  font-size: calc(10px + 1vmin);
}

.App-footer {
  align-self: flex-end;
  width: 100%;
  font-size: calc(10px + 0.5vmin);
}

.App-table {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.App-table-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding-left: 2rem;
  padding-right: 2rem;
}

.App-grid {
  display: grid;
  width: 80vw;
  
  overflow-x: hidden;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8px;
}

.App-grid-item {
  width: 100%;
}

.App-grid-item img {
  max-width: 100%;
}

.App-input {
  height: 2rem;
}

a, .App-link {
  color: #61dafb;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: aquamarine;
  text-decoration: none;
}

.ErrorPage-header {
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.ErrorPage-main {
  font-size: calc(10px + 2vmin);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#search-bar {
  min-width: 16rem;
}

#pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#pagination input {
  height: 1.5rem;
  width: 4rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
